body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #3b82f6;
}

#app {
    padding: 0 10px;
}

.container {
    max-width: 680px;
    margin: 0 auto;
    min-height: 100vh;
    padding-top: 160px;
    padding-bottom: 60px;
    position: relative;
}

.container h1 {
    margin-bottom: 10px;
    font-size: 48px;
    text-align: center;
}

.container h1 .colorful {
    background: #06b6d4;
    background: linear-gradient(to left, #06b6d4 0%, #3b82f6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .description {
    text-align: center;
    color: #333;
    font-size: 14px;
}

.github-image {
    display: block;
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.github-image svg {
    width: 36px;
    height: 36px;
}
